html,
body {
  color: #555555;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  padding-right: 17px;
}
