*{
  margin: .5rem;
}
h1,h2,h3,h4,h5,h6{
  margin: 1rem .6rem 0rem 1.6rem;
}

.center-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.txt-color-deeppink{
  color: deeppink;
}

.code{
  text-indent: 2rem;
  margin: 1rem 0rem;

  padding: 1rem 1rem 1rem 1.5rem;
  background-color: #eee;
  border-left: .4rem solid red;
}

.dv{
  padding: 2rem;
  margin: 1rem;
  background-color: #eee;
}