*{
  margin:1.5rem 0;
}
.content{
  overflow: scroll;
}
h1,h2,h3,h4,h5,h6{
  margin: 1rem .6rem 0rem 1.6rem;
}

.txt-color-deeppink{
  color: deeppink;
}

.code{
  text-indent: 2rem;
  margin: 1rem 0rem;
  width: 35rem;

  padding: 1rem 1rem 1rem 1.5rem;
  background-color: #eee;
  border-left: .4rem solid red;
}

img{
  width: 35rem;
  overflow: scroll;
}
p{
  width: 35rem;
}
.shell{
  width: 35rem;
  background-color: #222;
  color: green;
  //text-indent: 1.5rem;
  line-height: 3.5rem;
  padding: 1rem 3.5rem;
}